@using DTO
@{
    ViewBag.Title = "UnapprovedComments";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<CommentDTO>
<section class="content-header">
    <h1>Unapproved Comments List</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Comments</a></li>
        <li class="breadcrumb-item active"><a>Unapproved Comments List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href = '/Admin/Comment/AllComments'">All Comments List</button>
</div>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Post Title</th>
                    <th>Comment Content</th>
                    <th>Email</th>
                    <th>Add Date</th>
                    <th>Approve</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="a_@item.ID">
                        <td>@item.PostTitle</td>
                        <td>@item.CommentContent</td>
                        <td>@item.Email</td>
                        <td>@item.AddDate.ToString("MM/dd/yyyy")</td>
                        <td align="center" valign="middle">
                            <a href="/Admin/Comment/ApproveComment/@item.ID">
                                <img src="~/Areas/Admin/Content/icons/approve.png" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <img src="~/Areas/Admin/Content/icons/delete-16.ico" onclick="AskQuestion('/Admin/Comment/DeleteComment/', @item.ID)" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Post Title</th>
                    <th>Comment Content</th>
                    <th>Email</th>
                    <th>Add Date</th>
                    <th>Approve</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
<!-- /.card -->
